.modal {
  display: flex; /* Flex para centrar */
  position: fixed; /* Posición fija */
  z-index: 1000; /* Asegurar que esté sobre otros elementos */
  left: 0;
  top: 0;
  width: 100%; /* 100% de ancho */
  height: 100%; /* 100% de altura */
  overflow: auto; /* Scroll si es necesario */
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Ancho del modal */
  max-width: 600px; /* Ancho máximo del modal */
  border-radius: 8px; /* Bordes redondeados */
  max-height: 80%; /* Altura máxima del modal */
  overflow-y: auto; /* Scroll vertical si es necesario */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
